{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://scontent-atl3-1.xx.fbcdn.net/t31.0-8/10655201_913491521995496_1815163932617206719_o.jpg" alt="Photo of Cokie Roberts.">
      <div class="caption">
        <h3>"Equal justice under law"</h3>
        <p>These four words, carved into the building that holds the Supreme Court, are words of hope.
        Hope for our nation's future. Hope for our world. Hope for each other.</p>
          <p>The author of this site is a longtime journalist who now is learning to code, because
          the world is changing and she'd like that to be change for the better.</p>
          <p>For more, see her <a href="https://www.linkedin.com/groups/75753/profile">Linked In</a> profile. </p>
      </div>
    </div>
  </div>
</div>


{% endblock %}