{% extends "base.html" %}

{% block content %}
    <h1>Meet the justices</h1>
    <div class="row">
    {% for justice in justices %}
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="{{ justice.photo }}" alt="Photo of Justice {{ justice.name }}">
          <div class="caption">
            <h3>{{ justice.name }}</h3>
            <p>Law degree from: {{ justice.law_school }}</p>
            <p>Appointed by: President {{ justice.appointed_by }}</p>
            {% if justice.gender == "F" %}
                <p><a href="{% url 'women' %}" class="btn btn-primary" role="button">More on this justice</a> </p>
            {% elif justice.gender == "M" %}
                <p><a href="{% url 'men' %}" class="btn btn-primary" role="button">More on this justice</a> </p>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
    </div>

{% endblock %}
